# Supabase — récupérer sur https://supabase.com/dashboard/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# URL de l'application (http://localhost:3000 en dev, https://votre-domaine.vercel.app en prod)
NEXT_PUBLIC_APP_URL=
